*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header,
.footer {
    width: 90%;
    background-color: black;
    margin: 0 auto;
    display: grid;
    padding-left: 2rem;
    height: 90px;
    background-color: rgb(210, 242, 255);
    /* text-align: center; */
    line-height: 90px;
    font-size: 2rem;
    font-weight: 600;

    
}




.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    /* margin-top: 40px; */
    background-color: rgb(255, 225, 225);

    
}

.flex-item {
    width: 23%;
    height: 350px;
    margin-bottom: 20px;
    background-color: azure;
    /* text-align: center;
    line-height: 200px; */
    border: 1px solid black;
}


.flex-item .image img {
    height: 200px;
    width: 100%; 
    background-size: cover;
}
.flex-item .text {
    margin-top: 5px;
    padding: 10px;
}

.text h3{
    font-size: 1rem;
}
.text p {
    font-size: 1rem;
}


@media (max-width: 950px) {
    
    .flex-item {
        width: 32%;
    }
}
@media (max-width: 700px) {
    
    .flex-item {
        width: 48%;
    }
    .header,
    .footer {
        font-size: 1.8rem;
    }
    .text h3{
        font-size: 0.9rem;
    }
    .text p {
        font-size: 0.9rem;
    }
}


@media (max-width: 500px) {
    .flex-item {
        width: 75%;  
    }
    .flex-container {
        justify-content: center;
    }
    .header,
    .footer {
        font-size: 1.5rem;
    }
    .text h3{
    font-size: 1rem;
}
.text p {
    font-size: 1rem;
}
}

@media (max-width: 300px) {
    .header,
    .footer {
        font-size: 1rem;
    }
    .text h3{
    font-size: 0.9rem;
}
.text p {
    font-size: 0.8rem;
}
}


@media (max-width: 188px) {
    .header,
    .footer {
        font-size: 0.8rem;
    }
    .text h3{
    font-size: 0.7rem;
}
.text p {
    font-size: 0.7rem;
}
}









