body {
    margin: 20px;
}

#wraper {
    height: 90%;
    width: 60%;
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
    padding: 20px;  
}
#text {
    margin-top: -10px;
}
.second {
    margin-left: 10px;
}
.second a {
    margin-left: 5px;
}

/* second line */

.select{
    border-radius: 5px;
    margin-bottom: 5px;   
}

#skill {
    width: 150px;
}


/* Address  */
#specificInput {
    width: 250px; 
  }

#Postal {
    width: 80px;
}

#Name{
    background-color: white;
    position: absolute;
    margin-top: -20px;
}

#submit {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 180px;
    margin-top: 5px;
    text-align: center;
}

#submit button {
    border-radius: 15px;
    padding: 5px;
    height: 25px;
    width: 75px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; 
}


.data {
   margin-left: 8px;
}


/* Submit */

.finalsubmit {
    height: 50px;
    width: 150px;
    /* border: 1px solid black; */
    display: flex;;
    align-items: flex-start;;
    justify-content: space-between;
    position: absolute;
    margin-top: 25px;
    margin-left: -20px;
}
.finalsubmit button {
    width: 60px;
    /* font-weight: bold; */
    border-radius: 20px;
    padding: 3px;
    right: 20px;
}


