*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    width: 100%;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px black;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
    
}

.img img {
    height: 50px;
    width: auto;
}

.links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-left: 30px;
    text-transform: capitalize;
    text-transform: uppercase;
}

.links a:hover{
    font-weight: bold;
    transition: 0.4s ease-in;
}
.links a.active {
    text-decoration: underline;
    color: rgb(53, 70, 221);
}


/* hero section */
.hero-img {
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
   
}
.hero-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: -200px;
    margin-top: 50px;
    transform: scale(1.1);
}


.arrival-description h1{
    height: 100px;
    width: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 40px;
    margin-top: 20px;
    padding: 0px 10px;
    border-radius: 10px;
 
}





.text {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin: 300px 300px 0px 300px;
    gap: 100px;
}
.data, .clock {
    /* border: 1px solid black; */
    height: 400px;
    width: 600px;
}
.data h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
.data p {
    margin-bottom: 50px;
    text-align: justify;
}
.data i {
    font-size: 15px;    
}
.data a {
    font-size: 20px;
    text-decoration: none;
}




/* E-commerce section */

.e_commerce_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 230);    
    margin-top: 40px;
    padding-top: 50px;
    /* padding-bottom: 100px; */
}

.box-img{ 
    height: 400px;
    width: 23%;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgb(155, 141, 141);
    background-color: #fff;
    border-radius: 20px; 
    margin-top: 40px;
}

.box-img .boxex-img {
    height: 300px;
    background-size: cover;
    /* margin: 10px; */
    border-radius: 20px; 
    border: 1px solid rgb(117, 99, 99);
    
}

.box-img .boxex-img:hover {
    transform: scale(1.03);
    transition: 0.3s ease; 
}

.box-img h2 {
    margin-top: 15px;
}

.price h3 {
    margin-top: -10px;
    font-size: 30px;
    color: rgb(26, 224, 158);
}
.price {
    display: flex;
    justify-content: space-between;
}

.cart input {
    width: 30px;
    margin-right: 10px;   
}
.cart i {
    color: blue;
    font-size: 20px;
}
.cart i:hover{
    color: black;
    transition: 0.3s ease;
    transform: scale(1.03);
}

.nextpagebtn {
    text-align: center;
    margin-top: 100px;
}
.nextpagebtn button {
    height: 50px;
    width: 50px;
    background-color: rgb(40, 168, 168);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.nextpagebtn button:hover {
    background-color: black;
    transition: 0.8s ease;
}



/* footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    padding-top: 50px;
}

.ft {
    display: flex;
    flex-direction: column;
}

.ft h3,
h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
}
.silk h2 {
    font-size: 20px;
}
.silk span {
    font-size: 15px;
}

.ft a {
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
    width: 100%; /* Set the width to ensure consistent dimensions */
    border-bottom: 1px solid transparent;
    display: inline-block;
}
.try p a {
    color: rgb(66, 66, 161);
}

a:hover {
    color: rgb(66, 66, 161);
    font-weight: 500;
    transition: color 0.2s ease-in, font-weight 0.2s ease-in; /* Apply transition to both color and font-weight */
}



/* about page */
.my_info {
    padding: 100px 300px;
   
}
.my_info h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.my_info p {
    text-align: justify;
}







/* contact us page */



.bg-img {
    position: relative;
    background-image: url(src/form.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color for visibility */
    text-align: start; /* Align text horizontally */
    height: 460px;
    width: 600px;
    /* border: 1px solid black; */
    padding-bottom: 100px;
}
.content h1 {
    font-size: 30px;
}
.content p {
    margin-bottom: 50px;
    font-size: 20px;
    color: #fff;
    /* font-weight: bold; */
}

.inside {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #000;
}
.address {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.address a {
    text-decoration: none;
    color: #fff;
}
.address a i {
    margin-right: 10px;
}

.inline {
    display: block;
    margin-left: -90px;
}
.inline .sendme {
    margin-left: -90px;
}

.input button {
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input button:hover{
    background-color: #a07070;
    color: #fff;
    transition: 0.2s ease;
}


.input-container {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust spacing between input fields */
}

textarea {
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
    resize: none;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.height {
    height: 30px;
}
.input .input1 {
    width: 300px;
}
.input #email {
    width: 560px;
}
.input .width {
    width: 560px;
}
.input .mg-height {
    height: 80px;
}

label {
    margin-bottom: 5px; 
}

input {
    width: 200px; /* Adjust width of input field */
}
#budget {
    padding-left: 10px;
}





/* Sign IN Page */

.sing-img {
        position: relative;
        background-image: url(src/singup.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    .sing-content {
        position: absolute;
       top: 60%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        color: white; /* Adjust text color for visibility */
        text-align: start; /* Align text horizontally */
        height: 500px;
        width: 400px;
        /* border: 1px solid black; */
        padding-bottom: 50px;
    }
    .singinheight {
        height: 40px;
        width: 320px;
        padding: 0  10px;
    }
    .input-height i {
        font-size: 25px;
        padding: 3px;
        border: 1px solid black;
        height: 40px;
        width: 40px;
        margin-right: -5px;

    }

    .sing-content {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .sing-content button {
        padding: 10px 40px;
        border-radius: 30px;
        background-color: red;
        color: #ffff;
        font-weight: 700;
        cursor: pointer;
    }
    .sing-content button:hover{
    background-color: #a07070;
    color: #fff;
    transition: 0.2s ease;
}

    .singup,
    .forget{
        display: flex;
        justify-content: end;
        text-align: center;
    }
    .singup{
        margin-top: 15px;
    }

    .forget,
    .singinbtn button {
        margin-bottom: 30px;
    }
    .singinbtn {
        border-bottom: 1px solid rgb(194, 193, 193);

    }
    
  /* Sign Up */

  
.singup-img {
    position: relative;
    background-image: url(src/sing\ in.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.singup-content {
    position: absolute;
   top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color for visibility */
    text-align: start; /* Align text horizontally */
    height: 500px;
    width: 100%;    
    /* border: 1px solid black; */
}


.singupform{
    margin-top: -200px;
    height: 400px;
    width: 500px;
    background-color: white;
    border: 1px solid black;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}


.singupform >button,
.singupform input
{
    height: 35px;
    width: 300px;
    border-radius: 10px;
}
    
.singupform input {
    padding: 10px;
    border: 1px solid black;
}
.singupform >button {
    background-color: red; 
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.signinwithaccount button{
    padding: 5px 10px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.signinwithaccount .leftbtn {
    margin-right: 100px;
}


.signinwithaccount button:hover,
.singupform >button:hover{
    color: black;
    background-color: #fff;
    border: 1px solid black;
    transition: 0.3s ease-in;
}

 



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
:root {
    --bgorange: #e84979;
}
#wrapper {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.container {
    width: 1200px;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo {
    width: 80px;
}
.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text {
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;   
}
.nav-items div a {
    color: black;

}
a {
    text-decoration: none; 
}

.nav-items div:hover {
    transition: 0.8s ease;
    font-weight: 600;
}


/* hero Section */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem; 
}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
    position: absolute;
}
.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading {
    font-size:  35px;
    font-weight: 500;
   color: #343d68;
}
.role {
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading {
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}




.btn-pink {
    background-color: var(--bgorange);
    width: fit-content;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.5s;
    box-shadow: 5px 5px 7px 0px #0000003f;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition:all 1s;
    z-index: -1;
}
.btn-pink:hover::before {
    transform: scaleX(1);

}
.btn-pink:hover{
    border: solid 3px var(--bgorange);
    color: black;
}

/* hero section */
.hero-section-right {
    position: relative;
}
.aboute {
    position: absolute;
}

.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    
}
.user-image img{
    z-index: -9;
}
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;

    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
       
    }
}



.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
       
    }   
}

.icon-cube {
    z-index: 9;
    top :-0.8rem;
    right: 1rem;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotat {
    0%{
        transform: rotate(0deg) translateY(0px);
    }
    50%{
        transform: rotate(180deg) translateY(-12px);
    }
    100%{
        transform: rotate(360deg) translateY(0px);
       
    } 
}


.icon-circle {
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: shekeeffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes shekeeffect {
    0%{
       left:  0;
       bottom: 0;
    }
    50%{
        left: 5%;
        bottom: 10%;
    }
    100%{

       left:  0;
       bottom: 0;
       
    } 
}

.icon-zigzak {
    z-index: 9;
    top: 1.5rem;
    left: -0.3rem;
    animation: zigzaganimation 5s ease-in infinite;
}
@keyframes zigzaganimation {

    50%{
        left: 5%;
        top: 2%;
    }
}

.icon-plus {
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50%{
        left: 40%;
        top: 3%;
    }
}




/* Project section */
.project-section {
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}

.page-header {
color: var(--bgorange);
font-size: 90px;
text-align: center;
padding-top: 30px;
}