*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(31, 29, 29); */
  scrollbar-width: none;
}
body, html{
  background-color: rgb(31, 29, 29);
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 90px;
  width: calc(100% - 40px); /* Adjusted to account for the horizontal margins */
  border: 2px solid rgb(58, 190, 223);
  border-radius: 15px; 
  margin: 10px 20px; /* Horizontal margins */
  overflow-x: hidden;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  background-color: black;
  padding: 0 50px; /* Horizontal padding */

  overflow-y: hidden;
}

/* Optional: Apply box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}





.logo img{
  height: 90px;
  width: auto;
  margin-left: -20px;
  padding: 5px;
  line-height: 85px;
  
}

.btn {
  position: relative;


  
}
.btn button {
  padding: 8px 0px;
  border-radius: 30px;
  background-color: black;
  color: rgb(62, 232, 255);
  border: 1px solid rgb(62, 232, 255);
  box-shadow: outset 0 0 10px 5px rgb(62, 232, 255);
  font-size: 1rem;
  width: 120px;
 
}

nav ul {
  display: flex;
  list-style: none; 
  /* margin-right: -250px;  */
  
}


#click:checked ~ul{
  left: 0%;
}
nav ul li {
  margin: 0 7px;
}
 nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
 }
 
 nav .menu-btn i{
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;

 }
 #click {
  opacity: 0;
}


#wrapper{
  height: 100vh;
  /* width: 100%; */
  overflow-x: hidden;
  /* padding: 0 60px; */
  /* margin: 0px 30px; */

  position: relative;
}


/* project Section */
.project{
  margin-top: 150px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 60px;
  margin-bottom: 20px;
   padding: 0 60px;
}

.project h1 {
  display: inline-block;
  margin-top: -30px;
  line-height: 100px;
  border-bottom: 1px solid rgb(62, 232, 255);
}
.details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;

}


.first{
  display: flex;
  flex-wrap: wrap;
}
.first,
.second {
  margin: 0% auto;
}
.first button {
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  color: #fff;
  border: 1px solid rgb(62, 232, 255);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
}
.first .firstbtn {
  background-color: rgb(62, 232, 255); 
  color: rgb(255, 255, 255);
  opacity: 0.8;
}


.second {
    margin-bottom: 10px;
}

.second button {
  padding: 7px 5px;
  color: rgb(65, 173, 187);
  background-color: #fff;
  /* border-radius: 10px; */
  cursor: pointer;
  margin-left: -8px;
  font-size: 1rem;
}
.second .lnding {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.second .flstc{
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgb(62, 232, 255); 
  color: rgb(255, 255, 255);
  opacity: 0.8;
}








.boxex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
   padding: 0 60px;

}
.col {
  width: 49%;
  
}
.col2{
  width: 49%;
 
}

.col .item{
  margin-bottom: 20px;
}
.item{
  width: 100%;
  border: 1px solid rgb(128, 128, 128);
  padding: 30px;
  border-radius: 20px;
  /* margin-top: 20px; */
  opacity: 0.8;
  margin-bottom: 20px;
}
.item h2{
  color: #fff;
  padding-bottom: 5px;


}
.item p {
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.5rem;
  font-weight: 600;

}
.item .vedio{
  border-radius: 5px;
}
.first .vedio {
}

.item .btn{
  text-align: center;
  margin-top: 30px;
}
.btn a {
  text-decoration: none;
  color: aquamarine;
}

/* Above setting is common for all */





.project img{
  height: 100%;
  border-radius: 50%;
  margin-top: -50px;
}



/* col1 side */
.wrapp{
  background-image: linear-gradient(rgb(240, 184, 63), rgb(24, 21, 10));
  
}

.MCB {
  background-image: linear-gradient(rgb(102, 214, 214), rgb(19, 22, 21));
}

.Plushies {
  background-image: linear-gradient(rgb(154, 81, 202), rgb(19, 22, 21));
}

.flowriter{
  background-image: linear-gradient(rgb(219, 160, 195), rgb(19, 22, 21));
}

/* Col2 Side */
.Singular{
  background-image: linear-gradient(rgb(33, 122, 255), rgb(19, 22, 21));

}






/* footer */

footer {
  background-color: black;
  z-index: -1;
  
   
}
.mg{
  /* margin: 50px 50px; */
  padding: 0 50px;
}
.contact-info{
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgb(82, 77, 77);
  padding-top: 20px;
  color: white;

}
.adrs {
  display: flex;
}
.adrs i{
  font-size: 2rem;
  margin-right: 15px;
  color: rgb(62, 232, 255);
}

.option>h4{
  font-size: 1.5rem;
  letter-spacing: 1px;
}


.option>p {
  margin-top: 5px;
  font-weight: bold;
  opacity: 0.5;
  font-size: 1.2rem;
}

/* 2nd section */

.contact-info2 {
display: grid;
grid-template-columns: repeat(3, 1fr);
color: #fff;
justify-content: space-between;
}

.below-lin {
  height: 2px;
  width: 60px;
  background-color: rgb(62, 232, 255);
 position: relative;
 z-index: 0;
 margin-top: -25px;
 margin-bottom: 30px;
}
.below-lin-social{
  height: 2px;
  width: 60px;
  background-color: rgb(62, 232, 255);
  margin-top: -25px;
  position: absolute;
  z-index: 10;
}


.mg-left {
  margin-right: 30px;
}
.contact{
  margin-top: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.contact img{
  margin-left: -25px;
}
.contact h2{
  margin-top: 5px;
}
.pcb {
  margin-top: 20px;
  padding-left: 20px;
  height: 150px;
  width: 300px;
}
.quick-link h2{
  padding-bottom: 40px;
}
.oneside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-us {
  display: flex;
  gap: 150px;
}


.oneside a{
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.oneside a i {
  margin-right: 8px;
  opacity: 0.8;
}

.oneside a:hover{
  color: rgb(62, 232, 255);
  transition: ease-in;
  transition-duration: 0.2s;
}

.star5{
  height: 150px;
  width: 180px;
  padding-left: 30px;
}


/* social links */
.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.social-links a{
   font-size: 2.1rem;
  color: #fff;
  border-radius: 50%;
  
}



.end p {
display: flex;
text-align: center;
justify-content: center;
align-items: flex-start;
margin: 40px;
color: #fff;
opacity: 0.5;
}
.end p a{
  color: rgb(62, 232, 255);
  text-decoration: none;
}

.first,
.second {
  margin: 0% auto;
}
.first button {
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  color: #fff;
  border: 1px solid rgb(62, 232, 255);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
}
.first .firstbtn {
  background-color: rgb(62, 232, 255); 
  color: rgb(255, 255, 255);
  opacity: 0.8;
}


.second {
    margin-bottom: 10px;
}

.second button {
  padding: 7px 5px;
  color: rgb(65, 173, 187);
  background-color: #fff;
  /* border-radius: 10px; */
  cursor: pointer;
  margin-left: -8px;
  font-size: 1rem;
}
.second .lnding {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.second .flstc{
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgb(62, 232, 255); 
  color: rgb(255, 255, 255);
  opacity: 0.8;
}


/* Media Query started ...................................... */
@media (max-width: 414px){
  .item .btn{
    margin-top: 10px;
    margin-left: 42%;
  }
  .btn a {
  text-decoration: none;
  color: aquamarine;
  font-size: 0.8rem;
}
.project {
  margin-top: -50px;
}
nav ul {
  width: 50%;
}
.boxex {
   padding: 0 10px;
}

}




@media (max-width: 658px){
  .project{
  font-size: 1.6rem;
  }
  .details{
    gap: 30px;
  }
  
  .btn-one button,
  .btn-two button {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


}



@media (max-width: 768px) {
  .col {
    width: 100%;
    margin: 0;
  }
  .col2{
    width: 100%;
    margin: 0;
  }

    .project{
      margin-top: 100px;
      }
  
.contact-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: none;
}
.contact {
  padding-bottom: 0px;
}
.item .btn{
  margin-top: 20px;
  margin-left: 42%;
}
.btn a {
  text-decoration: none;
  color: aquamarine;
}
.item .btn{
  text-align: start;
  margin-top: 30px;
}



/* navbar */
.navbar {
  height: 70px;
  /* width: 100%; */
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  
}

nav ul {
  background-image: url("https://www.smashcode.dev/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Fsmash-code.appspot.com%2Fo%2Fothers%252Flogo.png%3Falt%3Dmedia%26token%3D03ad23b2-117d-405e-b75d-cf6ff119274f&w=128&q=100");
  box-sizing: content-box;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #3d3636;
  height: 100vh;
  width: 40%;
  display: block;
  text-align: center;
  left: -100%;
  transition: all 0.3s ease;
  z-index: 1;
  border-right: 2px solid rgb(62, 232, 255);
  padding-top: 100px;

}

nav ul li a {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.btn button {
  display: none;
}
nav ul li {
  margin: 40px 0;
}

nav .menu-btn{
margin-left: auto;
}
nav .menu-btn i{
  display: block;
 
  }
#click {
  display: none;
}
#click:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.btn-one button,
.btn-two button {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
.first button {
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  border: 1px solid rgb(62, 232, 255);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8rem;
}



}

@media (max-width:810px) {
  /* .navbar {
    height: 70px;
    width: 105%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  } */
  .navitem img{
    height: 75px;
    width: auto;
    padding: 5px;
  
  }

  .links a {
    font-size: 1.1rem;
    margin-right: 18px;
  }
}

@media (max-width: 868px){
   nav ul li a {
    font-size: 1rem;
   }
   .first button {
    padding: 12px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    border: 1px solid rgb(62, 232, 255);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 7px;
  }
}



@media (max-width: 968px){
  .item h2{
    font-size: 1rem;
    
  }
  .item p {
    font-size: 1rem;
  }
  .item h2{
    font-size: 0.8rem;
    
  }
  .item p {
    font-size: 0.8rem;
  }

.option>h4{
  font-size: 1.1rem;
 
}


.option>p {
  font-size: 0.9rem;
}

}



@media (max-width: 1022px){
.contact-info2{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

}
  
